@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Crolow.Cms.Core.Models.Umbraco;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MediaCollectionPage>
@{
    Layout = "MasterTemplate.cshtml";
    var imgUrl = Model.Image?.Url();
    var extra = (Crolow.Cms.Core.Models.ViewModel.Media.MediaCollectionPageModel)ViewData["Extra"];
}

<section class="container">
    @await Component.InvokeAsync("breadcrumb", Umbraco.AssignedContentItem)
    <div class="row">
        <div class="col-md-6">
            <h1>@Model.Name</h1>
            @await Html.GetBlockGridHtmlAsync(Model.Content)
        </div>
        <div class="col-md-6">
            <img src="@imgUrl" class="img-fluid">
        </div>
    </div>
    @if (extra.Collections.Any())
    {
        <h2>Collections</h2>
        <div class="row">
            @foreach (var item in extra.Collections)
            {
                <div class="card col-md-6 col-lg-4">
                    <h4 class="card-header">@(item.Name)</h4>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <div class="card-img">
                            <a href="@item.Url">
                                <img class="card-img-top" src="@item.ImageUrl" />
                            </a>
                        </div>
                    }
                    <div class="card-body">
                        <div class="card-text">
                            @Html.Raw(item.Summary)
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (extra.Images.Any())
    {
        <h2>Images</h2>
        <div class="row">
            @foreach (var item in extra.Images)
            {
                <div class="card col-md-6 col-lg-4">
                    <h4 class="card-header">@(item.Name)</h4>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <a class="btn btn-link" href="@item.Url">
                            <div class="card-img">
                                <img class="card-img-top" src="@item.ImageUrl" />
                            </div>
                        </a>
                    }
                    <div class="card-body">
                        <div class="card-text">
                            @Html.Raw(item.Caption)
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>
