@using Crolow.Cms.Core.Models.ViewModel.Cards;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CardItemModel>

@if (Model != null)
{
    <div class="card">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h4 class="card-header">@Model.Title</h4>
        }
        @if (Model.Image is not null)
        {

            <div class="card-img p-0">
                <img class="card-img-top" src="@Model.Image" />
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.SubTitle) || (Model.Body != null && !string.IsNullOrEmpty(Model.Body.ToHtmlString())))
        {
            <div class="card-body">
                <div class="card-text">
                    @if (!string.IsNullOrEmpty(Model.SubTitle))
                    {
                        <h5>@Model.SubTitle</h5>
                    }

                    @if (Model.Body != null)
                    {
                        @Model.Body
                    }
                </div>
            </div>
        }
        @if (Model.Links.Any())
        {
            <div class="card-footer">
                @foreach (var link in Model.Links)
                {
                    <a href="@link.Url" class="btn btn-sm btn-primary">@link.Name</a>
                }
            </div>
        }

    </div>
}